@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-surfaceHover: #334155;
  --color-primary: #8b5cf6;
  --color-primaryHover: #7c3aed;
  --color-secondary: #10b981;
  --color-danger: #ef4444;
}

@layer base {
  body {
    @apply bg-background text-white antialiased;
  }
}